openapi: 3.0.3
info:
  title: Open Delivery Protocol - REST/HTTP Indoor Extension Binding
  version: 2.0.0-draft
  description: |
    REST/HTTP contract for ODP Indoor extension (Orders Capability extension).
    Normative protocol behavior is defined in docs/extensions/indoor.md.
servers:
  - url: https://api.dominio.com
    description: Example API host
paths:
  /v1/orders/indoor:
    post:
      summary: Create/receive indoor order
      operationId: createOrReceiveIndoorOrder
      tags: [indoor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndoorOrderRequest'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v1/orders/indoor/accounts:
    get:
      summary: Query account by operation mode and identifier
      operationId: queryIndoorAccount
      tags: [indoor]
      parameters:
        - in: query
          name: operationMode
          required: true
          schema:
            type: string
            enum: [TABLE, TAB, COUNTER]
        - in: query
          name: identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Account snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          description: Account not found
    patch:
      summary: Update indoor account
      operationId: updateIndoorAccount
      tags: [indoor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
      responses:
        '202':
          description: Accepted
        '409':
          description: Conflict
  /v1/orders/indoor/accounts/payments:
    post:
      summary: Register partial payment
      operationId: registerPartialPayment
      tags: [indoor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialPaymentRequest'
      responses:
        '202':
          description: Accepted
        '422':
          description: Unprocessable entity
  /v1/orders/indoor/accounts/close:
    post:
      summary: Close indoor account
      operationId: closeIndoorAccount
      tags: [indoor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCloseRequest'
      responses:
        '202':
          description: Accepted
components:
  schemas:
    IndoorOrderRequest:
      type: object
      required: [order]
      properties:
        order:
          type: object
          required: [id, indoor]
          properties:
            id:
              type: string
            indoor:
              $ref: '#/components/schemas/IndoorContext'
    IndoorContext:
      type: object
      required: [operationMode, identifier, originChannel]
      properties:
        operationMode:
          type: string
          enum: [TABLE, TAB, COUNTER]
        identifier:
          type: string
        originChannel:
          type: string
        consumptionType:
          type: string
          enum: [ON_PREMISE, TAKEAWAY]
        notifyOriginator:
          type: boolean
    AccountUpdateRequest:
      type: object
      required: [account]
      properties:
        account:
          $ref: '#/components/schemas/Account'
    PartialPaymentRequest:
      type: object
      required: [account, payment]
      properties:
        account:
          $ref: '#/components/schemas/AccountKey'
        payment:
          $ref: '#/components/schemas/Payment'
    AccountCloseRequest:
      type: object
      required: [account]
      properties:
        account:
          $ref: '#/components/schemas/AccountKey'
    AccountResponse:
      type: object
      required: [account]
      properties:
        account:
          $ref: '#/components/schemas/Account'
    Account:
      allOf:
        - $ref: '#/components/schemas/AccountKey'
        - type: object
          properties:
            accountId:
              type: string
            items:
              type: array
              items:
                type: object
                additionalProperties: true
            payments:
              type: array
              items:
                type: object
                additionalProperties: true
            status:
              type: string
              enum: [OPEN, IN_PAYMENT, CLOSED]
    AccountKey:
      type: object
      required: [operationMode, identifier]
      properties:
        operationMode:
          type: string
          enum: [TABLE, TAB, COUNTER]
        identifier:
          type: string
    Payment:
      type: object
      required: [amount, method]
      properties:
        amount:
          type: object
          required: [value, currency]
          properties:
            value:
              type: number
            currency:
              type: string
        method:
          type: string
        items:
          type: array
          items:
            type: string
