openapi: 3.0.3
info:
  title: Open Delivery Protocol - REST/HTTP Discovery Binding
  version: 2.0.0-draft
  description: |
    REST/HTTP contract for ODP discovery endpoint.
    Normative protocol rules are defined in docs/protocol/discovery.md.
servers:
  - url: https://dominio.com
    description: Recommended root domain exposure
  - url: https://api.dominio.com
    description: Alternative subdomain exposure
  - url: https://dominio.com/api
    description: Alternative path-prefix exposure
paths:
  /.well-known/opendelivery:
    get:
      summary: Read participant discovery metadata
      description: |
        Public discovery endpoint. URL must end with `/.well-known/opendelivery`.
      operationId: getDiscoveryMetadata
      tags:
        - discovery
      responses:
        '200':
          description: Discovery metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryEnvelope'
              examples:
                default:
                  value:
                    discovery:
                      participantId: software-service-123
                      protocolVersion: v2.0.0-draft
                      capabilities:
                        - name: merchant
                          role: ORIGINATOR
                          operations:
                            - publishMerchant
                            - notifyMerchantUpdate
                        - name: orders
                          role: RECEIVER
                          operations:
                            - receiveOrder
                            - acknowledgeOrderEvent
                        - name: customer
                          role: BOTH
                          operations:
                            - ingestCustomer
                            - getCustomers
                            - receiveCustomerEvent
                      compatibility: backward-compatible
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Endpoint not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    DiscoveryEnvelope:
      type: object
      required:
        - discovery
      properties:
        discovery:
          $ref: '#/components/schemas/Discovery'
    Discovery:
      type: object
      required:
        - participantId
        - protocolVersion
        - capabilities
      properties:
        participantId:
          type: string
        protocolVersion:
          type: string
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityDeclaration'
        compatibility:
          type: string
        notes:
          type: string
    CapabilityDeclaration:
      type: object
      required:
        - name
        - role
        - operations
      properties:
        name:
          type: string
          enum: [merchant, orders, customer, logistics]
        role:
          type: string
          enum: [ORIGINATOR, RECEIVER, BOTH]
        operations:
          type: array
          items:
            type: string
        profiles:
          type: array
          items:
            type: string
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            retryable:
              type: boolean
            timestamp:
              type: string
              format: date-time
